# Node modules
node_modules/

# Environment file
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Uploads
client/uploads/*
!client/uploads/.gitkeep
